.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.panel {
  background-color: #13100b;
  color: #ffffec;
  opacity: 0.9;

  border: 5px solid;
  border-color: #6f634b;
  border-radius: 2px;
}

.AddEditArea {
  width: 600px;
  background-color: #13100b;
  color: #ffffec;
  opacity: 0.9;

  border: 5px solid;
  border-color: #6f634b;
  border-radius: 2px;
  font-weight: 300;
}

.accordion__title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.AddEditSpecialCard .selection {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.cardSelect {
  display: block;
  width: 200px;
}

.main-form-area {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.main-area-left {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.card-name {
}

.special-card-requirements {
  padding: 20px 5px;
}

.main-area-right {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.requirement-select {
  width: 200px;
}
.requirement-action {
  margin-top: 40px;
}

.forge-card-req-action {
  margin-top: 15px;
}

.form-counter {
  width: 60px;
  text-align: center;
}

.special-card-preview img {
  height: 330px;
  width: 270px;
}

input {
  margin-left: 15px;
  border: none;
  background-color: #4a4a4a;
  padding: 7px 10px;
  border: 1px solid #ccc;
}

.main-btn {
  background-color: #d9a460;
  border: 2px solid;
  border-color: #cec3b3;
  padding: 8px 45px;
  cursor: pointer;
}

.main-btn:active {
  background-color: #6f634b;
}

.warn-btn {
  background-color: #630000;
  border: 2px solid;
  border-color: #cec3b3;
  color: white;
  padding: 8px 45px;
  cursor: pointer;
}
.action-area {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 25px;
}
.action-area button {
  width: 250px;
}

.select-container {
  font-weight: 300;
}
.select-container .select-container__control {
  background-color: #4a4a4a;
  color: white;
  cursor: pointer;
}

.select-container .select-container__menu {
  background-color: #4a4a4a;
  color: white;
  cursor: pointer;
}

.select-container .select-container__option {
  background-color: #4a4a4a;
  color: white;
  cursor: pointer;
}

.select-container .select-container__option--is-focused {
  background-color: #777;
}

.select-container .select-container__single-value {
  color: white;
}